/* 
Forces carousel image to be 100% width and not max width of 100% 
*/
.carousel-item .img-fluid { width:100%; height:100%; }/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width:100%;
    height:100%;
}

/*.carousel-caption {*/
/*    background-color: #000000;*/
/*}*/

.carousel-caption:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.carousel-caption h2{
    font-weight: 700;
    font-size: 3.5em;
}
