body {
    font-family: 'Roboto', sans-serif;
}

a{
    color: #000000;
}

/** Header **/

.header {
    background-color: #05383f !important;
    padding: 10px;
}

h3{
    font-weight: 800;
}

/** Index **/

.news {
    padding-top: 10px;
    padding-bottom: 10px;
}

.offset-tvcl {
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-header {
    width: 20%;
}

.section-title {
    font-weight: 700;
}

.img-principal {
    width: 100%;
}

.img-news{
    width: 100%;
}

#offset-news, #body-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ficcion {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ficcion h3 {
    font-size: 1.2em;
}

.index-content {
    padding-top: 10px;
}

.noticia-principal {
    height: 350px !important;
}

.img-noticia {
    width: 100%;
}

.img-principal {
    width: 100%;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color:rgb(0,0,0);
    opacity:0.6;
    filter:alpha(opacity=60); /* IE < 9.0 */
}

article h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.0em;
    /*border-bottom: 5px solid #05383f;*/
    padding: 10px;
    background-color: #05383f;
    color: #ffffff;
}

.news-sidebar h3 {
    font-size: 1.4em;
}

#border-articles-aside {
    border-top: 1px solid #05383f;
    border-bottom: 1px solid #05383f;
}

/** Single **/

.single-header{
    margin: 0 auto;
    padding: 10px;
}

.single-header h1{
    font-weight: 900;
    font-size: 3em;
}

.single-header .extract {
    font-weight: 100;
    font-size: 1.3em;
}

.featured-img-single {
    width: 100%;
}

.featured-img-single {
    width: 100%;
}

.single-content {
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: 300;
}

.single-content .article {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1em;
}

.sidebar {
    padding-top: 10px;
}

.autor {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #05383f;
}

.autor h4, .descripcion_autor {
    font-size: 0.8em;
}

.related-posts {
    padding-top: 10px;
    padding-bottom: 10px;
}

.related-posts h2 {
    font-size: 1em;
    border-bottom: 3px solid #05383f;
    padding-bottom: 10px;
}

.related-posts h3 {
    padding-top: 5px;
    font-size: 0.8em;
}

/* Footer */

.footer {
    background-color: black;
    color: #ffffff;
}

.footer .row{
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer .copyright {
    border-top: 1px solid #ffffff;
}
